:root {
  font-size: 16px;
  --primary-color: #4eaeff;
  --secondary-color: steelblue;
  --primary-font: "Roboto", sans-serif
}

body {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}


.mapboxgl-popup-close-button {
  font-size: 2rem;
  top: -1rem;
  right: -1rem;

  background-color: var(--primary-color);
  border-radius: 0.4rem;
}

.mapboxgl-popup-close-button:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

.mapboxgl-popup {
  max-width: 260px !important;
}
.mapboxgl-popup-content {
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.logo {
    position: absolute;
    right: 3rem;
    top: 3rem;
    z-index: 1;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: rgba(39, 131, 245, 0.75);
    padding: 1rem;
    border-radius: 0.5rem;
    letter-spacing: 0.15rem;
    border: 0.5rem solid var(--secondary-color);
    font-weight: 700;
    color: #fff;
}

.popup-name {
  text-transform: uppercase;
  font-weight: 700;
}